* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
}

#map {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.map-overlay {
    position: absolute;
    z-index: 1000; /* above the map tiles */
}

.topnav {
    display: flex;
    background-color: #264f93;
    align-content: center;
    justify-content: center;
    width: 100vw;
}

h1 {
    width: 100vw;
    margin: 0px;
    padding: .5em;
    background-color: #264f93;
    color: white;
}

header {
    width: 100vw;
}

.header-icon {
    height: 4em;
}

.nav-icon, .topnav input {
    display: inline-block;
    margin: .5em;
}

.nav-icon {
    height: 4em;
    padding: .5em;
}

.nav-icon:hover {
    background-color: #1a4481;
}

.topnav input[type=text] {
    border: none;
    border-radius: .5em;
    font-size: larger;
    padding: 0px .8em;
    margin: .5em;
}

/* mobile display adjustments */
@media (max-width: 768px) {
    header {
        display: none;
    }
}
