* {
    box-sizing: border-box;
}

.icon {
    height: 1em;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
    background-color: blue;
    font-size: large;
  }

  .topnav a:hover {
    background-color: darkblue;
  }

  .topnav input[type=text] {
    float: left;
    padding: .3em;
    margin-top: .35em;
    border: none;
  }