* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
}

#map {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.map-overlay {
    position: absolute;
    z-index: 1000; /* above the map tiles */
}

h1 {
    width: 100vw;
    margin: 0px;
    padding: .5em;
    background-color: #e4edfc;
    color: #264f93;
}

/* TODO LATER: for desktop, put h1 to left of menu icon, background light blue and border radius.*/
header {
    width: 100vw;
}

/* Navbar styling */

.topnav {
    display: inline-flex;
    background-color: #264f93;
    align-content: center;
    justify-content: space-between;
    width: 100vw;
}

.nav-icon {
    height: 4em;
    padding: .5em;
    margin: .5em;
}

.nav-icon:hover {
    background-color: #1a4481;
}

.topnav input[type=text] {
    border: none;
    border-radius: .5em;
    font-size: larger;
    padding: 0px .8em;
    margin: 1em;
    flex: 1;
}

/* mobile display adjustments */
@media (max-width: 768px) {
    header {
        display: none;
    }
}

/* Menu, filter, dashboard and alert panels */
.panel {
    position: absolute;
    background: #e4edfc;
    left: 0;
    transition: transform 0.3s ease;
    z-index: 999;
    padding: .3em;
}

.panel-left {
    width: fit-content;
    transform: translateX(-100%);
}

.panel-top {
    width: 100vw;
    transform: translateY(-100%);
    padding: .6em;
}

.panel-bottom {
    width: 100vw;
    transition: bottom 0.3s ease;
    background-color: transparent;
    padding: 0px;
}

.panel-top.open {
    transform: translateY(0);
}

.panel-left.open {
    transform: translateX(0);
}

.inline, .dashboard {
    display: inline-flex;
}

.alerts {
    overflow-y: auto;
}

/*  bottom panel */

.panel-tabs {
    display: flex;
    background-color: transparent;
}

.tab-content {
    background-color: #e4edfc;
}

.tab-btn {
    flex: 1;
    padding: .75em;
    border: none;
    background: none;
    font-size: 1em;
    cursor: pointer;
    background-color: #264f93;
    color:#e4edfc;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.tab-btn.active {
    font-weight: bold;
    color: #264f93;
    background-color: #e4edfc;
}

.badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: .1em .4em;
    font-size: .75em;
}

.tab-content {
    padding: 1em;
    overflow-y: auto;
}

.hidden {
    display: none;
}

.show-btn {
    border: 1px solid #264f93;
    background: none;
    color: #264f93;
    border-radius: .3em;
    padding: .2em .5em;
    cursor: pointer;
}

/* Menu styling*/

.menu {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background-color: #e4edfc;
}

.menu li {
    display: block;
    padding: 1em;
    background-color: #e4edfc;
}

.menu li:hover {
    background-color: #cbd5e7;
    cursor: pointer;
}